body {
    background-color: #4D4861;
  }
  h1 {
    color: #EDCB96;
  }
  h2 {
    color: #F7C4A5;
  }
  p{
    color: #9E7682;
  }
  filler{
    color: #605770;
  }
  /* Some more colors
  # Additional Palette 1
    #ECBEB4 
    #C5C9A4
    #7EB09B
    #519E8A
  
  */